button {
  padding: 0.6rem;
  border: 1px solid black;
  cursor: pointer;
}

input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-color: black;
}

/* graph */

#y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.7rem;
  height: 300px;
}

.y-tick {
  text-align: right;
}

#graph {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  height: 300px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5rem 1rem;
}

#graph > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

#x-axis {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
}

#x-axis .x-label {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.bar {
  background-color: #a9a9a9;
  text-align: center;
  min-width: 30px;
  color: white;
}

/* delete */

.update_box table thead {
  color: #fff;
  background-color: #696969;
}

.update_box table tbody tr:nth-child(odd),
.update_box table tbody tr:nth-child(odd) input {
  background-color: #a9a9a9;
  border: none;
  text-align: center;
}

.update_box table tbody tr:nth-child(even),
.update_box table tbody tr:nth-child(even) input {
  background-color: #d3d3d3;
  border: none;
  text-align: center;
}

.update_box table thead th:first-child {
  width: 20%;
}

.update_box table thead th:nth-child(2) {
  width: 70%;
}

.update_box table thead th:last-child {
  width: 10%;
}

.update_box table tbody td {
  text-align: center;
}

.update_box table {
  width: 100%;
}

/* detail */
#detail_area {
  min-height: 500px;
  min-width: 300px;
}

section > div > p {
  font-size: 1.5rem;
}
